@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.item {
  width: 800px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: grey;
  text-align: center;
  color: yellowgreen;
  font-size: 1.5em;
  border-radius: 15px;
  font-family: sans-serif;
}
